div(id='modal_end' class='w3-modal')
    div(class='w3-modal-content')
        div(class='w3-container')
            div(align='center')
                p Game Over!
                p(id='3')
                button(class='w3-btn w3-green' onclick='gameover()') Play again