div(id='modal' class='w3-modal')
    div(class='w3-modal-content')
        div(class='w3-container')
            div(align='center')
                p Fight!
                p(id='1') Player1 vs Skeleton1
                div(class='w3-green w3-left w3-container' id='left') ABC
                div(class='w3-red w3-right w3-container' id='right') DEF

                button(class='w3-btn w3-red') Attack
                button(class='w3-btn w3-red') Defend

