div(id='modal_pvp' class='w3-modal')
    div(class='w3-modal-content')
        div(class='w3-container')
            div(align='center')
                p Fight!
                p(id='4')
                p(id='5')
                input(type='text' class='w3-green w3-left w3-container' disabled id='left2')
                input(type='text' class='w3-red w3-right w3-container' disabled id='right2')

                button(onclick='run()' class='w3-btn w3-margin-bottom w3-green') Back off
                button(onclick='attack_pvp()' class='w3-btn w3-margin-bottom w3-red') Attack