div(class='w3-margin')
    div(class='w3-container')
        p
            label Новая цена
            input(class='w3-input' id='new_price_input' type='number' disabled)
        div(class='w3-bar w3-margin-bottom')
            button(class='w3-btn w3-green w3-margin-right' onclick='newPrice()' id='set_button' disabled) Предложить новую цену
            button(class='w3-btn w3-red' onclick='participate()' id='request_button' disabled) Подать заявку
script(src='/javascript/user_controls.js')