div(id='umodal' class='w3-modal')
    div(class='w3-modal-content')
        div(class='w3-container')
            span(onclick="document.getElementById('umodal').style.display='none'"
            class='w3-button w3-display-topright') &times
            div(class='w3-container' id='aqu')