p User List
    include user_modal
    table(class='w3-table-all' id='user_table')
        tr
            th Name
            th Money
            th Acquisitions
    script(src='/javascripts/user_info.js')