div(id='header' align='center')
    P(class='w3-xxxlarge') Auction
    a(class='w3-btn w3-green w3-margin' href='/members') Members
    a(class='w3-btn w3-green w3-margin' href='/') Paintings
    a(class='w3-btn w3-green w3-margin' href='/settings') Settings
