doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.min.css')
        link(rel='stylesheet', href='/css/w3.css')
        script(src='/javascripts/jQuery.js')
    body
        block content