extends layout

block content
    p Hello, welcome to the auction
    input(type='text' class='w3-margin' id='name')
    a(class='w3-btn w3-green w3-margin' onclick='go()' id='goButton' href='') Go to auction

    script(src='/javascripts/index.js')