extends layout

block content
    table(class='w3-table-all' id='info_table')
        tr
            th Name
            th Start Price
            th Sold to
            th Sold for
    script(src='/javascripts/info.js')