extends layout

block content
    div(class='w3-row')
        div(class='w3-half')
            include includes/picture_info
        div(class='w3-half')
            include includes/admin_controls
            include includes/trade_log